/* Main stylesheet */
body {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}

.grid-container {
    /* Using BEM convention */
    border: solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 750px;
    background-color: rgb(103, 103, 103);
    margin-top: 1rem;
    color: #c4a713;
    /* Improved contrast */
}

.grid-container .row .column {
    /* Using nested selectors */
    cursor: pointer;
}

.btn-grid-size {
    /* Using a class name */
    background-color: rgb(163, 2, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: yellow;
    width: 100px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
}